body {
    height: 100%;
    min-height: 100%;
    margin: 0px;
}
html {
    height: 100%;
}
#header {
    background-color: #22446e;
    color: white;
    font-size: x-large;
    text-align: center;
    height: 8%;
}

#headertext {
    padding:0.5em;
}

#navigation {
    background-color: #4488dd;
    float: left;
    min-height:92%;
    min-width: 20%;
    overflow:auto;
}
#content {
    float:left;
    border-left: 2px solid gray;
    min-height:92%;
}
div.put-in {
    padding: 1em;
}
h3.frameheader {
    background-color: lightgray;
}
table.userlist {
    border-collapse:collapse
} 
table.userlist td.command {
    border: none;
}
table.userlist input.useraction  {
    min-width: 80px;
}

table.userlist th, table.userlist td{
    border: 1px solid black;
}
table.userlist th {
    background-color: lightgray;
}
table.userlist th, table.userlist td {
    padding: 2px;
}

div.pretable {
    min-width:650px;
}
form.refresh {
    float: right;
    display:inline;
}

form.useraccess {
    min-width:540px;
}
input.numinput {
    width: 4.5ch;
}
input.submitbtn {
    margin-left:42%;
    margin-top: 1em;
    width:16%;
}

div.radiodelim {
    width:95%;
    margin-left:5%;
}
div.radiocommon {
    margin-left: 5%;
}


