<?xml version="1.0"?>

<configuration>
    <appSettings>
        <!--add key="DecisionTimeMinutes" value="15" /-->
    </appSettings>

    <connectionStrings>
      <add name="Default" providerName="System.Data.SqlClient" connectionString="Server=(LocalDB)\v11.0; Integrated Security=true ;AttachDbFileName=C:\Projects\ManualMF\Database\ManualMF.mdf"/>
    </connectionStrings>

</configuration>
