<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Style.css" />
</head>
<body>
    <div id="header">
        Operator-assisted authentication
    </div>
    <div id="navigation">
        <div class="put-in">
            Some text
        </div>
    </div>
    <div id="content">
        <div class="put-in">
            @RenderBody()
        </div>
    </div>
</body>
</html>
