@using ManMFOperator.Infrastructure

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Style.css" />
</head>
<body>
    <div id="header">
        <div id="headertext">
        @Html.LocalizedString("Header")
        </div>
    </div>
    <div id="navigation">
        <div class="put-in">
            @Html.ActionLink(Html.LocalizedString("UserAccessLink"),"Index","Home")
        </div>
    </div>
    <div id="content">
        <div class="put-in">
            @RenderBody()
        </div>
    </div>
</body>
</html>
